<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings>
  <add name="ProjectManagementModel" connectionString="data source=(localdb)\mssqllocaldb;initial catalog=ProjectManagementDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>